$header-height: 100px;

html,
body,
#app,
#view,
.screen {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

h1,
h3 {
  margin: 0;
}

#app {
  position: absolute;
  top: 0;

  .task-screen & {
    pointer-events: none; // pass pointer events to view on task screens
  }
}

.screen {
  display: flex;
  flex-direction: column;

  &.task-selection {
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
  }

  .task-screen & * {
    pointer-events: auto; // catch pointer events for elements on task screens
  }
}

.task-selection {
  .title,
  .subtitle {
    margin-bottom: 40px;
  }

  .tasks {
    display: flex;
    flex-direction: row;
  }

  calcite-button {
    margin: 20px;
    width: 120px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  box-sizing: border-box;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  height: $header-height;

  .title {
    margin-left: 20px;
  }

  .subtitle {
    font-weight: normal;
  }

  .align-right {
    margin-left: auto;
  }
}

.plan-actions {
  align-self: center;
  margin-top: auto;
  position: relative;
  bottom: 30px;

  calcite-button {
    width: 100px;
    &:first-child {
      margin-right: 10px;
    }
  }
}

.plan-overview {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 300px;
  background-color: var(--calcite-ui-background);
  padding: 10px;
}

.alerts {
  position: absolute;
  top: $header-height + 20px;
  right: 20px;
  width: 400px;
  height: 500px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, black 90%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, black 90%, rgba(0, 0, 0, 0));
}

.alert {
  cursor: pointer;

  .title {
    display: flex;
    justify-content: space-between;
  }

  .time {
    font-size: 0.8em;
    line-height: 22px;
  }

  calcite-notice {
    &[open] {
      margin-bottom: 15px;
      height: 50px;
      opacity: 1;
      transition: height 1s, margin-bottom 1s, opacity 1s ease-in;
    }

    &:not([open]) {
      margin-bottom: 0;
      height: 0;
      opacity: 0;
      transition: height 1s, margin-bottom 1s;
    }
  }
}

.clock {
  position: absolute;
  top: $header-height + 15px;
  left: 20px;
  width: 220px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 10px;

  .clock-text-container {
    font-weight: bold;
    font-size: 29px;
    height: 40px;
    display: flex;
    align-items: center;

    .time-ss {
      font-size: 0.8em;
    }
  }
  .live-message {
    height: 40px;
    display: flex;
  }
  .simulated-time-info {
    margin-top: 10px;
    display: flex;

    .simulated-time-label {
      margin-left: 2px;
    }
  }
}
